#paneTab1 {
   -fx-background-image: url("/images/background.png");
    -fx-background-radius: 30;
}

.text-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;

}

#exportGenerate {

}

#titleBar{
    -fx-background-color: #3f4fa5;
}
#rectangle{
-fx-fill: transparent;
}

#btnExport {
    -fx-background-color: #ef6300;
    -fx-font-family: "Arial Black";
    -fx-text-fill: white;
}
#btnExport:hover{
    -fx-background-color: #ef6b02;
}


#btnGenerate {
    -fx-background-color: #3f4fa5;
    -fx-font-family: "Arial Black";
    -fx-text-fill: white;
}

/*.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: black;
}*/
.tab{
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-background-color: #3f4fa5;
}
.tab-pane {
    -fx-tab-min-width:40px;
    -fx-tab-max-width:40px;
    -fx-tab-min-height:50px;
    -fx-tab-max-height:50px;
}
.tab:selected{
    -fx-background-color:#008aff;
}
.tab-header{

}
.tab-header-background{
    -fx-background-color: #3f4fa5;
}
#paneRegion{

}


